server:
  port: 8081
spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: test1
          uri: http://localhost:8082
          predicates:
            - Path=/test
          filters:
            - JwtAuthentication=mt at
  main:
    allow-bean-definition-overriding: true

#  security:
#    oauth2:
#      client:
#        provider:
#          humus:
#            authorization-uri: http://localhost:8080/oauth/authorize2
#            token-uri: http://localhost:8080/oauth/token
#            user-info-uri: http://localhost:8080/user/me
#        registration:
#          humus:
#            client-id: clientId
#            client-secret: secret
#            redirect-uri: http://localhost:8080/callback
#            authorization-grant-type: authorization_code
#            scope:
#              - read